fastapi>=0.110.0
python-multipart>=0.0.9
uvicorn[standard]>=0.29.0
pydantic>=2.6.0
ruff>=0.4.0
huggingface_hub>=0.23.0
git+https://github.com/huggingface/diffusers.git
pillow>=10.4.0
torch>=2.3.0
torchvision>=0.18.0
transformers>=4.42.0
accelerate>=0.33.0
psutil>=6.0.0
